cx_Freeze==5.0.2
ipaddress
pathlib
pyqt5==5.9
pyqt5-tools==5.9.2.1.4rc0
pytest
pytest-cov
pytest-mock
pytest-qt==3.3.0
semantic_version
idna
jsonschema==2.6.0
jinja2
zstandard
irc
oauthlib
requests_oauthlib
